@{
    ViewData["Title"] = "Home Page";
}
@model PizzaShop.Data.ViewModel.MenuCategoryVM

<div class="menuContent py-3 px-md-5 px-sm-1 display-6">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row gap-2">
            <div class="d-flex-inline pageTitle">Menu</div>
        </div>
    </div>
    <div class="menuContainer bg-white my-3 shadow">
        <div class="d-flex itemsAndModifiersBtns mb-3 px-3">
            <div class="itemsBtn d-flex-inline align-items-center gap-2 active px-3">
                <img src="~/images/icons/order-value.svg" style="width: 20px;" alt="">
                Items
            </div>
            <div class="itemsBtn d-flex-inline align-items-center gap-2 px-3">
                <img src="~/images/icons/icons8-four-squares-96.png" style="width: 20px;" alt="">
                Modifiers
            </div>
        </div>
        <partial name="~/Views/Menu/Tables/_ItemTable.cshtml" model="@Model" />
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        function DeleteCategory(Categoryid) {
            window.CategoryToDelete = Categoryid;
        }
        document.querySelector('.deleteCategoryBtn').addEventListener('click', function () {
            if (CategoryToDelete) {
                $.ajax({
                    url: '/Menu/DeleteCategory',
                    type: 'POST',
                    data: { categoryId: CategoryToDelete },
                    success: function (response) {
                        $('#deleteUserModal').modal('hide');

                        toastr.success(response.message);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    error: function (error) {
                        toastr.error(response.message);
                    }
                });
            }
        });
        function EditCategory(id, Name, Description) {
            $('#edit-category-name').val(Name);
            $('#edit-category-description').val(Description);
            $('#edit-category-id').val(id);
        }
        $(document).ready(function () {
            $("#addCategoryForm").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            $('#addCategoryModal').modal('hide');

                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            toastr.error(response.message);
                            $('#addCategoryModal').modal('show');
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred while adding the category.");
                    }
                });
            });
            $("#editCategoryForm").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                            $('#editCategoryModal').modal('hide');

                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            toastr.error(response.message);
                            $('#editCategoryModal').modal('show');
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred while Editing the category.");
                    }
                });
            });
            $('input, select, textarea').on('blur', function () {
                $(this).valid();
            });
        });
    </script>
}